In [1]:
import pandas as pd
from transactions import Transactions
from statements import StatementsParser
from config import Config
from sources import Source
from sources import Sources

Create the objects that load the existing data

In [2]:
cfg = Config('../data/db')
s = Sources(cfg)
t = Transactions(cfg, s)

### Original DF length

In [8]:
len(t._df)

3175

### Re-adding transactions and new length

In [9]:
t.add_bulk([s.get_source('Revolut PLN').statement_parse('../data/statements/revolut-pln.csv')])
len(t._df)

4917

In [5]:
print(t._delete_duplicates())

Success: True
Message: Duplicates removed
Details: Removed columns:
        id                time input          type       source     source_id  \
1     3169 2019-10-16 19:44:20  stmt         TOPUP  Revolut PLN  1.697822e+09
3     3170 2019-10-26 12:24:01  stmt  CARD_PAYMENT  Revolut PLN  1.697822e+09
5     3171 2019-10-29 01:33:43  stmt        REWARD  Revolut PLN  1.697822e+09
7     3172 2019-11-03 18:41:06  stmt         TOPUP  Revolut PLN  1.697822e+09
10       6 2019-11-03 18:42:54  stmt      EXCHANGE  Revolut PLN  1.697822e+09
...    ...                 ...   ...           ...          ...           ...
4825  4906 2023-10-15 06:41:12  stmt  CARD_PAYMENT  Revolut PLN  1.697822e+09
4829  4907 2023-10-16 17:24:38  stmt  CARD_PAYMENT  Revolut PLN  1.697822e+09
4832  4908 2023-10-16 21:56:09  stmt  CARD_PAYMENT  Revolut PLN  1.697822e+09
4837  4909 2023-10-18 13:18:16  stmt  CARD_PAYMENT  Revolut PLN  1.697822e+09
4839  4910 2023-10-18 14:16:15  stmt  CARD_PAYMENT  Revolut PLN  1.697822e+09

                     desc   amount  fee    total curr note             system  \
1         Top-Up by *4385   200.00  0.0   200.00  PLN  NaN                NaN
3     Warzywniak Rozkosze   -29.80  0.0   -29.80  PLN  NaN                NaN
5         Referral reward    33.00  0.0    33.00  PLN  NaN                NaN
7         Top-Up by *4385  3000.00  0.0  3000.00  PLN  NaN                NaN
10       Exchanged to EUR -2000.00  0.0 -2000.00  PLN  NaN  currency exchange
...                   ...      ...  ...      ...  ...  ...                ...
4825                Skype   -34.44  0.0   -34.44  PLN  NaN                NaN
4829            Biedronka   -60.54  0.0   -60.54  PLN  NaN                NaN
4832              YouTube   -23.99  0.0   -23.99  PLN  NaN                NaN
4837    Th Thi The Nguyen   -33.00  0.0   -33.00  PLN  NaN                NaN
4839     Centrum Rowerowe   -89.00  0.0   -89.00  PLN  NaN                NaN

     allot link category tags
1      NaN  NaN      NaN  NaN
3      NaN  NaN      NaN  NaN
5      NaN  NaN      NaN  NaN
7      NaN  NaN      NaN  NaN
10     NaN  NaN      NaN  NaN
...    ...  ...      ...  ...
4825   NaN  NaN      NaN  NaN
4829   NaN  NaN      NaN  NaN
4832   NaN  NaN      NaN  NaN
4837   NaN  NaN      NaN  NaN
4839   NaN  NaN      NaN  NaN

[1735 rows x 17 columns]

In [6]:
t._df

,id,time,input,type,source,source_id,desc,amount,fee,total,curr,note,system,allot,link,category,tags
0,1,2019-10-16 19:44:20,stmt,TOPUP,Revolut PLN,1.697822e+09,Top-Up by *4385,200.00,0.0,200.00,PLN,NaN,self transfer,NaN,NaN,NaN,NaN
2,2,2019-10-26 12:24:01,stmt,CARD_PAYMENT,Revolut PLN,1.697822e+09,Warzywniak Rozkosze,-29.80,0.0,-29.80,PLN,NaN,NaN,NaN,NaN,Groceries,NaN
4,3,2019-10-29 01:33:43,stmt,REWARD,Revolut PLN,1.697822e+09,Referral reward,33.00,0.0,33.00,PLN,NaN,NaN,NaN,NaN,NaN,NaN
6,4,2019-11-03 18:41:06,stmt,TOPUP,Revolut PLN,1.697822e+09,Top-Up by *4385,3000.00,0.0,3000.00,PLN,NaN,self transfer,NaN,NaN,NaN,NaN
8,3173,2019-11-03 18:42:54,stmt,EXCHANGE,Revolut PLN,1.697822e+09,Exchanged to EUR,-2000.00,0.0,-2000.00,PLN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4905,3164,2023-12-12 08:36:12,stmt,CARD_PAYMENT,Revolut PLN,1.697822e+09,Biedronka,-171.71,0.0,-171.71,PLN,NaN,NaN,NaN,NaN,NaN,NaN
4906,3165,2023-12-12 14:40:38,stmt,CARD_PAYMENT,Revolut PLN,1.697822e+09,Carrefour,-5.60,0.0,-5.60,PLN,NaN,NaN,NaN,NaN,NaN,NaN
4907,3166,2023-12-13 20:07:30,stmt,CARD_PAYMENT,Revolut PLN,1.697822e+09,Biedronka,-12.83,0.0,-12.83,PLN,NaN,NaN,NaN,NaN,NaN,NaN
4908,3167,2023-12-15 05:41:14,stmt,CARD_PAYMENT,Revolut PLN,1.697822e+09,Skype,-34.44,0.0,-34.44,PLN,NaN,NaN,NaN,NaN,NaN,NaN
4909,3168,2023-12-15 16:36:43,stmt,CARD_PAYMENT,Revolut PLN,1.697822e+09,Wloski I Styl,-75.00,0.0,-75.00,PLN,NaN,NaN,NaN,NaN,NaN,NaN