In [2]:
import pandas as pd
from transactions import Transactions
from statements import StatementsParser
from config import Config
from sources import Source
from sources import Sources

Create the objects that load the existing data

In [3]:
cfg = Config('../data/db')
s = Sources(cfg)
t = Transactions(cfg, s)

In [4]:
t._df

,id,time,input,type,source,source_id,desc,amount,fee,total,curr,note,system,allot,link,category,tags
0,1,2019-10-16 19:44:20,stmt,TOPUP,Revolut PLN,1.697822e+09,Top-Up by *4385,200.00,0.0,200.00,PLN,NaN,self transfer,NaN,NaN,NaN,NaN
1,2,2019-10-26 12:24:01,stmt,CARD_PAYMENT,Revolut PLN,1.697822e+09,Warzywniak Rozkosze,-29.80,0.0,-29.80,PLN,NaN,NaN,NaN,NaN,Groceries,NaN
2,3,2019-10-29 01:33:43,stmt,REWARD,Revolut PLN,1.697822e+09,Referral reward,33.00,0.0,33.00,PLN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,2019-11-03 18:41:06,stmt,TOPUP,Revolut PLN,1.697822e+09,Top-Up by *4385,3000.00,0.0,3000.00,PLN,NaN,self transfer,NaN,NaN,NaN,NaN
4,5,2019-11-03 18:42:54,stmt,EXCHANGE,Revolut EUR,1.697822e+09,Exchanged to EUR,467.71,0.0,467.71,EUR,NaN,currency exchange,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3163,3164,2023-12-12 08:36:12,stmt,CARD_PAYMENT,Revolut PLN,1.697822e+09,Biedronka,-171.71,0.0,-171.71,PLN,NaN,NaN,NaN,NaN,NaN,NaN
3164,3165,2023-12-12 14:40:38,stmt,CARD_PAYMENT,Revolut PLN,1.697822e+09,Carrefour,-5.60,0.0,-5.60,PLN,NaN,NaN,NaN,NaN,NaN,NaN
3165,3166,2023-12-13 20:07:30,stmt,CARD_PAYMENT,Revolut PLN,1.697822e+09,Biedronka,-12.83,0.0,-12.83,PLN,NaN,NaN,NaN,NaN,NaN,NaN
3166,3167,2023-12-15 05:41:14,stmt,CARD_PAYMENT,Revolut PLN,1.697822e+09,Skype,-34.44,0.0,-34.44,PLN,NaN,NaN,NaN,NaN,NaN,NaN
3167,3168,2023-12-15 16:36:43,stmt,CARD_PAYMENT,Revolut PLN,1.697822e+09,Wloski I Styl,-75.00,0.0,-75.00,PLN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
output = t.link([1,2])
print(output)

KeyError: 1

In [23]:
t._df

,id,time,input,type,source,source_id,desc,amount,fee,total,curr,note,system,category,tags
0,1,2019-10-16 19:44:20,stmt,TOPUP,Revolut PLN,1.697822e+09,Top-Up by *4385,200.00,0.0,200.00,PLN,NaN,self transfer,NaN,NaN
1,2,2019-10-26 12:24:01,stmt,CARD_PAYMENT,Revolut PLN,1.697822e+09,Warzywniak Rozkosze,-29.80,0.0,-29.80,PLN,NaN,NaN,Groceries,NaN
2,3,2019-10-29 01:33:43,stmt,REWARD,Revolut PLN,1.697822e+09,Referral reward,33.00,0.0,33.00,PLN,NaN,NaN,NaN,NaN
3,4,2019-11-03 18:41:06,stmt,TOPUP,Revolut PLN,1.697822e+09,Top-Up by *4385,3000.00,0.0,3000.00,PLN,NaN,self transfer,NaN,NaN
4,5,2019-11-03 18:42:54,stmt,EXCHANGE,Revolut EUR,1.697822e+09,Exchanged to EUR,467.71,0.0,467.71,EUR,NaN,currency exchange,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3163,3164,2023-12-12 08:36:12,stmt,CARD_PAYMENT,Revolut PLN,1.697822e+09,Biedronka,-171.71,0.0,-171.71,PLN,NaN,NaN,NaN,NaN
3164,3165,2023-12-12 14:40:38,stmt,CARD_PAYMENT,Revolut PLN,1.697822e+09,Carrefour,-5.60,0.0,-5.60,PLN,NaN,NaN,NaN,NaN
3165,3166,2023-12-13 20:07:30,stmt,CARD_PAYMENT,Revolut PLN,1.697822e+09,Biedronka,-12.83,0.0,-12.83,PLN,NaN,NaN,NaN,NaN
3166,3167,2023-12-15 05:41:14,stmt,CARD_PAYMENT,Revolut PLN,1.697822e+09,Skype,-34.44,0.0,-34.44,PLN,NaN,NaN,NaN,NaN
3167,3168,2023-12-15 16:36:43,stmt,CARD_PAYMENT,Revolut PLN,1.697822e+09,Wloski I Styl,-75.00,0.0,-75.00,PLN,NaN,NaN,NaN,NaN